form{margin: auto;
background-color: purple;
width: 50%;
padding: 50px;
}

button   {width: 80%;
margin-left: 50px;
border-radius: 5px;
height: 40px}
input [type=text],input[type=email],input[type=password],input[type=number],input[type=text]
{width: 250px;
    height: 30px}

textarea{width: 250px;
height: 40px}

select{width: 200px;
height: 30px}




label{color: white}

.name{margin-left:90px}
.email{margin-left: 90px}
.number{margin-left: 10px}
.password{margin-left: 55px}
.select{margin-left: 56px}

.zipcode{margin-left: 60px}
.about{margin-left: 85px}
.d2{display: flex}
.label{margin-left: 75px}
body{background-color: #bf81e8
}